[submodule "bundle/dwm"]
	path = bundle/dwm
	url = https://github.com/spolu/dwm.vim
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = https://github.com/bogado/file-line
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
